#theme {
  width: 100%;
  height: 100vh;

  &.light {
    --purple: #835afd;
    
    --white: #FFFFFF;
    --white-100: #fefefe;
    --white-200: #f8f8f8;

    --color: #29292e;
    --questionsTextarea: #fefefe;

    --answered: #d8d6dd;
    --highlighted: #f4f0ff;
    
    --gray-100: #e2e2e2;
    --gray-200: #a8a8b3;
    --gray-300: #737380;
    --gray-350: #737383;
    --gray-600: #29292e;
  
    --pink: #e559f9;
    
    --red: #ea4335;

    background: var(--white-200);
  }
  
  &.dark {
    --purple: #835afd;
    
    --white: #FFFFFF;
    --white-100: #fefefe;
    --white-200: #f3efef;

    --color: #f3efef;
    --questionsTextarea: #363636;

    --answered: #1f1f1f;
    --highlighted: #a8a8b3;
    
    --gray-100: #a8a8b3;
    --gray-200: #737380;
    --gray-300: #57575a;
    --gray-350: #29292e;
    --gray-600: #141414;
  
    --pink: #e559f9;
    
    --red: #eb584b;

    background: var(--gray-350);
    color: var(--white-200)
  }

}